[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ashr"]
	path = ashr
	url = https://github.com/stephens999/ashr
[submodule "etrunct"]
	path = etrunct
	url = https://github.com/stephens999/etrunct
